.cell {
	width: var(--cell-size);
	height: var(--cell-size);
	border: 1px solid;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	cursor: pointer;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
	border-top: none;
}

.cell:nth-child(3n + 1) {
	border-left: none;
}

.cell:last-child,
.cell:nth-child(8),
.cell:nth-child(7) {
	border-bottom: none;
}

.cell:nth-child(3n + 3) {
	border-right: none;
}

.cell.x,
.cell.o {
	cursor: not-allowed;
}

.cell.x::before,
.cell.x::after,
.cell.o::before {
	background-color: white;
}

.board.x .cell:not(.x):not(.o):hover::before,
.board.x .cell:not(.x):not(.o):hover::after,
.board.o .cell:not(.x):not(.o):hover::before {
	background-color: #5b5f67;
}

.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.o):hover:before,
.board.x .cell:not(.x):not(.o):hover::after {
	content: '';
	position: absolute;
	width: calc(var(--mark-size) * 0.15);
	height: var(--mark-size);
}

.cell.x::before,
.board.x .cell:not(.x):not(.o):hover:before {
	transform: rotate(45deg);
}

.cell.x::after,
.board.x .cell:not(.x):not(.o):hover:after {
	transform: rotate(-45deg);
}

.cell.o::before,
.cell.o::after,
.board.o .cell:not(.x):not(.o):hover::before,
.board.o .cell:not(.x):not(.o):hover::after {
	content: '';
	border-radius: 50%;
	position: absolute;
}

.cell.o::before,
.board.o .cell:not(.x):not(.o):hover::before {
	width: var(--mark-size);
	height: var(--mark-size);
}

.cell.o::after,
.board.o .cell:not(.x):not(.o):hover::after {
	width: calc(var(--mark-size) * 0.7);
	height: calc(var(--mark-size) * 0.7);
	background-color: var(--background-color);
}
