.cell {
	width: 10vw;
	height: 10vh;
	border: 1px solid;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
	border-top: none;
}

.cell:nth-child(3n + 1) {
	border-left: none;
}

.cell:last-child,
.cell:nth-child(8),
.cell:nth-child(7) {
	border-bottom: none;
}

.cell:nth-child(3n + 3) {
	border-right: none;
}

.cell:first-child::before,
.cell:first-child::after {
	content: '';
  width: ;
}
